#carousel-example-generic {
  text-align: center;
}

body {
  margin: 0;
  text-align: center;
}

nav {
  background-color: orange;
}

.banner {
  width: 80%;
  max-width: 675px;
  margin: 10px 0 0 0;
}

.text-blue {
  color: #508AC7;
}

.btn-danger {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.carousel-caption {
  top: 10px;
  left: 10px;
  text-shadow: 2px 2px 4px black;
  padding: 0;
}

.escape {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  right: 10%;
  box-shadow: -1px 5px -1px 5px rgba(0, 0, 0, 0.5);
}

.exit {
  font-size: 130%;
}

.myFont {
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  font-size: 130%;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  padding: 15px;
  margin: 0 -3px;
  text-decoration: none;
  color: black;
  transition: all 1s;
}

.nav-link:hover {
  color: white;
  background-color: #954A87;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-left {
  text-align: left;
}

.top-bar {
  background-color: #508AC7;
  color: white;
  font-size: 150%;
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
}
