#carousel-example-generic {
  text-align: center;
}

a {
  text-decoration: none;
}

html, body {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: -2px;
  text-align: center;
/*   min-width: 1000px; */
  /*font-size: 12px;*/
}

.about-img {
  width: 100%;
}

.back {
  width: 100%;
  min-height: 300px;
}

.banner {
  width: 30%;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 10px 10% 0 10%;
}

.blue {
  background-color: #508AC7;
}

.btn-danger {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-next {
  position: relative;
  left: 250px;
}

.car-button {
  font-size: 125%;
}

.carousel-caption {
  top: 10%;
  left: 0;
  margin-right: 40%;
  /*text-shadow: 2px 2px 4px black;*/
  padding: 15px;
  right: inherit;
  bottom: inherit;
  background-color: rgba(149, 74, 135, 0.7);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.carousel-indicators {
  bottom: 3px;
}

.crisis {
  margin: 5px;
}

.crisis-div {
  padding-top: 35px;
}

.description {
  width: 40%;
  height: 100px;
}

.dv-lead {
  font-size: 125%;
}

.dv-list {
  text-align: left;
}

.dv-section {
  padding: 10px;
}

.escape {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  right: 10%;
  z-index: 100;
  box-shadow: -1px 5px -1px 5px rgba(0, 0, 0, 0.5);
}

.event-img {
  width: 65%;
}

.exit {
  font-size: 130%;
}

.foot-img {
  padding: 10px 3%;
}

.font {
  font-family: 'Domine', serif;
}

.glyphicon {
  position: relative;
  top: 2px;
  padding: 0 5px;
  cursor: pointer;
}

.help-list {
  text-align: left;
}

.home-head {
  color: white;
  background-color: #954A87;
  margin: 0px;
  padding: 15px;
  z-index: 100;
}

.inline {
  display: inline-block;
  margin: 10px;
}

.logo {
  text-align: left;
  height: 145px;
  margin: 0;
}

.myFont {
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  font-size: 135%;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  padding: 15px;
  margin: 0 -3px -1px -3px;
  text-decoration: none;
  color: black;
  transition: all 1s;
}

 .nav-link:visited {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-color: #954A87;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.orange {
  background-color: #ffffcc;
}

.purple {
  background-color: #954A87;
}

.section {
  margin: 0px -1px;
  box-sizing: border-box;
  padding: 10px 20px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.section p, .section-third p {
    text-align: left;
}



.section-third {
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.serve-head {
  position: absolute;
  top: 250px;
  border-radius: 15px;
  background-color: rgba(149, 74, 135, 0.7);
  text-align: left;
  margin: 50px;
  padding: 15px;
}

.text-blue {
  color: #508AC7;
}

.text-left {
  text-align: left;
}

.text-orange {
  color: #ffffcc;
}

.text-purple {
  color: #954A87;
}

/*.text-shadow {
  text-shadow: 1px 1px 2px black;
}*/

.text-white {
  color: white;
}

.top-align {
  vertical-align: top;
}

.top-bar {
  background-color: #508AC7;
  color: white;
  font-size: 120%;
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  height: 35px;
}

.top-services {
  text-align: left;
  padding: 0px 15px 15px 15px;
}

.vol-app {
  width: 60%;
  margin: auto;
  border-radius: 15px;
  border: solid 1px;
  padding-bottom: 15px;
}

.wishlist {
  width: 65%;
  margin: auto;
}
