<div class="section-third">
  <img src="../resources/woman2.jpg" alt="" class="about-img">
</div>
<div class="section-third" style="vertical-align: middle">
  <h2 class="font text-purple">Mission:</h2>
  <p class="myFont">
    Our mission is to shelter and empower victims and survivors of
    domestic abuse to become safe, secure and self-reliant.  Through
    outreach, education and collaboration, we strive to mobilize our
    community to prevent domestic violence.
  </p>
</div>
<div class="section-third">
  <img src="../resources/woman1.jpg" alt="" class="about-img">
</div>
<div class="font purple text-white home-head">
  <h3 class="text-shadow">Board of Directors/etc can go on this page</h3>
</div>

<div class="orange">

<div class="section text-white text-shadow blue">
  <h2 class="font">History</h2>
  <p class="myFont">
    A Woman's Place was founded as a crisis line in 1977 by a group of
    local men and women who recognized the need for intervention for victims
    of domestic violence in Weld County. After incorporating as a nonprofit
    agency and with the donation of an older home by the Greeley Urban Renewal
    Authority (GURA), we opened our safe house in 1981.
  </p>
  <p class="myFont">
    In 2003, a completed rennovation and addition project doubled the size of
    our shelter so we would not have to turn people away due to lack of space.
    In 2013, the safe house was again updated thanks to funding from GURA and
    in 2014, they donated a second home to provide services to non-residential
    clients.
  </p>
</div>
<div class="section orange">
  <h2 class="font">Philosophy</h2>
  <p class="myFont">
    A Woman's Place serves individuals and families affected by domestic violence.
    We do not discriminate based on race, ethnicity, religion, gender, age, disability
    (mental or physical), sexual orientation, or socio-economic status.  We oppose the
    use of violence and abuse as a means of gaining power and control over others and
    support equality in intimate relationships.  We strive to advocate and support
    people who want to create a life free of violence, abuse and oppression.  We recognize
    that violence affects the entire family, meaning each member requires healing and
    education in order to stop the cycle of abuse.
  </p>
</div>

</div>
