<div style="position: relative">
  <img src="{{ main.awp.events_banner_image }}" alt="" class="back">
      <div class="serve-head serve-head-purple text-left text-white">
        <h3 class="font">{{ main.aboutSections[0].heading }}</h3>
        <p class="myFont">{{ main.aboutSections[0].body }}</p>
      </div>
</div>
<h3 class="home-head font">
  {{ main.awp.about_page_banner }}
</h3>
<div class="blue" style="border-radius: 0 0 5px 5px">

<div class="section text-white text-shadow blue" style="border-radius: 0 0 0 5px">
  <h3 class="font">{{ main.aboutSections[1].heading}}</h3>
  <p class="myFont">
    {{ main.aboutSections[1].body }}
  </p>
</div><div class="section orange" style="border-radius: 0 0 5px 0">
  <h3 class="font">{{ main.aboutSections[2].heading }}</h3>
  <p class="myFont">
    {{ main.aboutSections[2].body }}
  </p>
</div>
</div>
<h3 class="font text-purple">Executive Director</h3>
<h4 class="font text-purple" style="margin-bottom:0"> {{ main.awp.executive_director[0].name }}</h4>
<h5 style="margin-top:0"> {{ main.awp.executive_director[0].phone }}&nbsp;&nbsp;
 {{ main.awp.executive_director[0].email }} </h5>

<h3 class="font text-purple" style="margin-bottom: 0">Board of Directors</h3>
<div ng-repeat="staffer in main.boardStaff" class="inline" style="margin-top: 0">

  <h5> {{ staffer.board_position }}: {{ staffer.name }}</h5>

</div>

<div class="top-services myFont" id="full-board">
  <div class="section" id="left-directors">
    <div ng-repeat="director in main.leftDirectors">
      <h4 class="font text-purple">{{ director.name }}</h4>
      <h5> {{ director.organization}} </h5>
    </div>
  </div>
  <div class="section" id="right-directors">
    <div ng-repeat="director in main.rightDirectors">
      <h4 class="font text-purple">{{ director.name }}</h4>
      <h5> {{ director.organization }}</h5>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-lg btn-success center-block">Download 2016 Annual Report</button>
  </div>
