<div class="section-third about-img">
  <img src="{{ main.aboutImages[0].image }}" alt="" class="about-img">
</div><div class="section-third about-sec-one">
  <h2 class="font text-purple">{{ main.aboutSections[0].heading }}</h2>
  <p class="myFont">
    {{ main.aboutSections[0].body }}
  </p>
</div><div class="section-third about-img">
  <img src="{{ main.aboutImages[1].image }}" alt="" class="about-img">
</div>
<div class="font purple text-white home-head">
  <h3 class="text-shadow" style="font-family: 'Lustria', serif;">{{ main.awp.about_page_banner }}</h3>
</div>

<div class="blue">

<div class="section text-white text-shadow blue">
  <h2 class="font">{{ main.aboutSections[1].heading}}</h2>
  <p class="myFont">
    {{ main.aboutSections[1].body }}
  </p>
</div>
<div class="section orange">
  <h2 class="font">{{ main.aboutSections[2].heading }}</h2>
  <p class="myFont">
    {{ main.aboutSections[2].body }}
  </p>
</div>
</div>


<h3 class="font text-purple">Board of Directors</h3>
<div ng-repeat="staffer in main.boardStaff" class="inline">

  <h5> {{ staffer.board_position }}: {{ staffer.name }}</h5>

</div>

<div class="top-services myFont">
  <div class="section">
    <div ng-repeat="director in main.leftDirectors">
      <h4 class="font text-purple">{{ director.name }}</h4>
      <h5> {{ director.organization}} </h5>
    </div>
  </div>
  <div class="section">
    <div ng-repeat="director in main.rightDirectors">
      <h4 class="font text-purple">{{ director.name }}</h4>
      <h5> {{ director.organization }}</h5>
    </div>
  </div>
</div>
