<div class="section section-get-help">
  <h2 class="font text-purple"> {{ main.awp.what_is_dv[0].heading }}</h2>
  <div id="what-is-dv" class="myFont text-left"></div>
</div>

<div class="blue text-white section section-get-help">
  <h2 class="font"> {{ main.awp.warning_signs[0].heading }}</h2>
  <div id="warning-signs" class="myFont text-left"></div>
</div>

<div class="section section-get-help orange">
  <h2 class="font"> Obstacles &amp; Barriors to Leaving</h2>
  <div ng-repeat="obstacle in main.awp.obstacles">
    <h4 class="font text-left"> {{ obstacle.heading }}</h4>
    <div class="myFont text-left"> {{ obstacle.description }}</div>
  </div>
</div>

<!-- <h4 class="myFont text-purple">Any act that one person uses to dominate another person in an intimate relationship. For example:</h4>

<div class="section">
  <ul class="dv-list myFont">
    <li><span class="dv-lead text-purple">Intimidation</span> - looks or gestures, property damage, displaying weapons</li>
    <li><span class="dv-lead text-purple">Using Emotional Abuse</span> - put downs, humiliation, degradation</li>
    <li><span class="dv-lead text-purple">Isolation</span> - controlling when or if the partner can go out to see family or friends, extreme jealousy or possessiveness</li>
    <li><span class="dv-lead text-purple">Using Children</span> - threatening to take the children away, relaying messages through the kids, harassing during visitations</li>
    <li><span class="dv-lead text-purple">Economic Abuse</span> - preventing the victim from getting/keeping a job or taking money</li>
  </ul>
</div><div class="section">
  <ul class="dv-list myFont">
    <li><span class="dv-lead text-purple">Sexual Abuse</span> - unwanted sexual contact, treating the victim like a sex object</li>
    <li><span class="dv-lead text-purple">Rigid Gender Roles</span> - using male privilege, making all big decisions, treating the victim like a servant</li>
    <li><span class="dv-lead text-purple">Coercion and Threats</span> - making or carrying out threats to harm the partner, threatening suicide or to leave,
      making the victim do illegal things or intimidate them to drop charges or lie in court</li>
    <li><span class="dv-lead text-purple">Minimizing, Denying, and Blaming</span> - saying the abuse never happened, blaming the victim, blaming others for their actions</li>
  </ul>
</div> -->
