<img src="{{ main.awp.events_banner_image }}" alt="" class="back">
<div class="home-head text-white">
  <h3 class="font">What is Domestic Violence (DV) ?</h3>
</div>
<h4 class="myFont text-purple">Any act that one person uses to dominate another person in an intimate relationship. For example:</h4>

<div class="section">
  <ul class="dv-list myFont">
    <li><span class="dv-lead text-purple">Intimidation</span> - looks or gestures, property damage, displaying weapons</li>
    <li><span class="dv-lead text-purple">Using Emotional Abuse</span> - put downs, humiliation, degradation</li>
    <li><span class="dv-lead text-purple">Isolation</span> - controlling when or if the partner can go out to see family or friends, extreme jealousy or possessiveness</li>
    <li><span class="dv-lead text-purple">Using Children</span> - threatening to take the children away, relaying messages through the kids, harassing during visitations</li>
    <li><span class="dv-lead text-purple">Economic Abuse</span> - preventing the victim from getting/keeping a job or taking money</li>
  </ul>
</div>
<div class="section">
  <ul class="dv-list myFont">
    <li><span class="dv-lead text-purple">Sexual Abuse</span> - unwanted sexual contact, treating the victim like a sex object</li>
    <li><span class="dv-lead text-purple">Rigid Gender Roles</span> - using male privilege, making all big decisions, treating the victim like a servant</li>
    <li><span class="dv-lead text-purple">Coercion and Threats</span> - making or carrying out threats to harm the partner, threatening suicide or to leave,
      making the victim do illegal things or intimidate them to drop charges or lie in court</li>
    <li><span class="dv-lead text-purple">Minimizing, Denying, and Blaming</span> - saying the abuse never happened, blaming the victim, blaming others for their actions</li>
  </ul>
</div>
