<img src="../resources/back1.jpg" alt="" class="back">
<div class="myFont serve-head text-shadow text-white">
  <h3 class="font text-white text-shadow">
   You are <span class="text-blue">strong</span>, <span class="text-orange">capable</span>, and now have the resources to break free of control.
 </h3>
</div>
<h3 class="purple font text-white home-head">How to Take Action</h3>
<div class="blue">
  <div class="section myFont blue text-white">
    <h3>In an Emergency</h3>
    <ul class="text-left">
      <li>Call the Police - 911</li>
      <li>Go to a safe place - Safe shelter, friends, family, hotel</li>
      <li>Get medical attention if necessary</li>
    </ul>
  </div>
  <div class="section orange myFont">
    <h3>Call Our Crisis Line:</h3>
970-356-I CAN or
970-356-4226


    <h3>Toll Free:</h3>
866-356-4226
(24 Hour emergency assistance and referrals provided at AWP)

  </div>
</div>
<div class="text-purple font">
 <h2 class="text-shadow">Preparing to Leave</h2>
</div>
<div>
  <h4>
    We do not require identification for you to access our services, but
    it is important to locate these documents when preparing to leave an
    abusive relationship, and have them available at a safe location.
  </h4>
  <div class="inline top-align myFont">
    <h4 class="text-purple">Identification:</h4>
    <ul class="help-list">
      <li>Driver's License</li>
      <li>Birth Certificates</li>
      <li>Social Security Cards</li>
    </ul>
  </div>
  <div class="inline top-align myFont">
    <h4 class="text-purple">Financial:</h4>
    <ul class="help-list">
      <li>Banking and Credit Information</li>
      <li>Any Cash Available</li>
    </ul>
  </div>
  <div class="inline top-align myFont">
    <h4 class="text-purple">Legal Papers:</h4>
    <ul class="help-list">
      <li>Protective Order</li>
      <li>House deed/lease or Rental Agreement</li>
      <li>Permanent Resident Card/VISA</li>
      <li>Passport</li>
      <li>Divorce/Custory Papers</li>
    </ul>
  </div>
  <div class="inline top-align myFont">
    <h4 class="text-purple">Medical:</h4>
    <ul class="help-list">
      <li>Medications</li>
      <li>Medical Records</li>
      <li>Health Insurance Information</li>
    </ul>
  </div>
  <div class="inline myFont">
    <h4 class="text-purple">Other Considerations:</h4>
    <ul class="help-list">
      <li>Transportation</li>
      <li>Safe Times to Leave</li>
    </ul>
  </div>
<h3>Have an overnight bag with the above items readily available.</h3>
</div>
