<div style="position: relative">
  <img src="../resources/back1.jpg" alt="" class="back">
<div class="myFont serve-head serve-head-purple text-white">
  <h3 class="font text-white text-shadow">
   You are <span class="text-blue">strong</span>, <span class="text-orange">capable</span>, and now have the resources to break free of control.
 </h3>
</div>
</div>
<h3 class="purple font text-white home-head">How to Take Action</h3>

<div class="section section-get-help">
  <h3 class="text-purple font">{{ main.awp.creating_a_safety_plan[0].heading}}</h3>
  <div id="safety-plan" class="myFont"></div>
</div>
<div class="section section-get-help orange">
  <h3 class="font">{{ main.awp.preparing_to_leave[0].heading }}</h3>
  <div id="prep-to-leave" class="myFont"></div>

</div>
<h2 class="text-purple font">Services</h2>
<h4 class="text-purple myFont">All resources listed here can be accessed by our residential AND non-residential clients.</h4>
<div class="top-services myFont">
  <div class="section">
    <div ng-repeat="service in main.leftServices">
      <h3 class="font text-purple">{{ service.service_name }}</h3>
      <p>
        {{ service.service_description }}
      </p>
    </div>
  </div>
  <div class="section">
    <div ng-repeat="service in main.rightServices">
      <h3 class="font text-purple">{{ service.service_name }}</h3>
      <p>
        {{ service.service_description }}
      </p>
    </div>
  </div>
</div>
