<img src="../resources/back1.jpg" alt="" class="back">
<div class="myFont serve-head text-shadow text-white">
  <h3 class="font text-white text-shadow">
    <span class="text-blue">You can help</span> build a world <span class="text-orange">free</span> of Domestic Violence
  </h3>
</div>
  <h4 class="text-purple font">
    As a family member, friend, colleague, or acquaintance of a victim of domestic abuse, you may be the only resource
    avictim has available in order to become free of power and control!
  </h4>
<div class="section-third">
  <h4>Intro to Wishlist</h4>
  <a href="#/volunteer"><button class="btn">Wishlist</button></a>
</div>
<div class="section-third">
  <h4>Interested in Volunteering or an Internship?</h4>
  <a href="#/volunteer"><button class="btn btn-primary">Volunteer/Intern</button></a>
</div>
<div class="section-third">
  <h4>Intro to Donate</h4>
  <a href="#/volunteer"><button class="btn btn-success">Donate</button></a>
</div>
<h4>Thank you for choosing to educate yourself.</h4>
<h3 class="purple font text-white home-head">Ways You Can Help</h3>
<div class="orange">
<div class="section blue text-white myFont">
  <ul class="text-left" style="font-size: 150%">
    <li>Open a Dialogue: "Are you ever afraid of X's temper?" "I've noticed X, Y, Z
      lately, is there anything you want to talk about?"
    </li>
    <li>
      Express your concern
    </li>
    <li>
      Appreciate the danger and talk about how the victim can stay safe
    </li>
    <li>
      Commit to unconditional support, even if you do not approve of the person's choices
    </li>
    <li>
      Listen. Don't try to fix the situation
    </li>
  </ul>
</div>
<div class="section orange myFont">
  <ul class="text-left" style="font-size: 150%">
    <li>
      Tell the victim the abuse is not her/his fault
    </li>
    <li>
      Don't judge or blame the victim
    </li>
    <li>
      Don't give advice
    </li>
    <li>
      Offer help and set clear boundaries
    </li>
    <li>
      Ask questions about how she/he is feeling
    </li>
    <li>
      Provide her/him with resources such as A Woman's Place
    </li>
    <li>
      Don't allow her/him to believe that no one cares!
    </li>
  </ul>
</div>
</div>
<h2 class="text-purple font">Don't Be Fooled</h2>
<h4 class="myFont">Abusers lie about the abuse- they will try to hide it, deny
  it, and make excuses. Take all signs or threats of escalation seriously, and
  don't believe the abuser's excuses!
</h4>