<img src="../resources/back1.jpg" alt="" class="back">
<div class="myFont serve-head text-shadow text-white">
  <h3 class="font text-white text-shadow">
    <span class="text-blue">You can help</span> build a world <span class="text-orange">free</span> of Domestic Violence
  </h3>
</div>
  <h4 class="text-purple font">
    As a family member, friend, colleague, or acquaintance of a victim of domestic abuse, you may be the only resource 
    avictim has available in order to become free of power and control!
  </h4>
<h4>Thank you for choosing to educate yourself.</h4>
<h4>Interested in Volunteering or an Internship?</h4>
<a href="#/volunteer"><button class="btn btn-primary">Apply Online</button></a>
<div></div>