<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active text-left">
      <img src="/resources/pic2.jpg" alt="...">
      <div class="carousel-caption text-left">
        <h4>A  Woman's  Place offers a variety of services designed to protect, 
          assist and empower victims and survivors of domestic abuse, as well as, 
          raise awareness and prevention of domestic violence</h4>
        <a href="#/getHelp"><button class="btn btn-success car-button font text-shadow">Get Help</button></a>
        <a href="#/giveHelp"><button class="btn btn-primary car-button font text-shadow">Give Help</button></a>        
      </div>
    </div>
    <div class="item">
      <img src="/resources/pic1.jpg" alt="...">
      <div class="carousel-caption text-left">
        <h4>Other featured content here</h4>
      </div>
    </div>
    <div class="item">
      <img src="/resources/pic3.jpg" alt="...">
      <div class="carousel-caption text-left">
        <h4>Other featured content here</h4>
      </div>
    </div>
  </div>
</div>

<h2 class="font home-head text-shadow">A <span class="text-blue">Woman's</span> <span class="text-orange">Place</span> 
  envisions a community free of all forms of domestic violence!</h2>

<div class="blue">

<div class="section blue text-shadow text-white">
  <h2 class="font">Do you feel like you're walking on egg shells around your partner?</h2>
  <p class="myFont">
    A Woman's Place Inc. shelters and helps empower victims and survivors 
    of domestic abuse to become safe, secure and self-reliant; and through 
    education and collaboration, mobilizes our community to help prevent 
   domestic violence.
  </p>
  <a href=""><button class="font dv-lead btn btn-success text-shadow">Get Help</button></a>
</div>
<div class="section orange">
  <h2 class="font">Serving victims and survivors of domestic violence in Weld County by providing:</h2>
  <p class="myFont">
    Safe Housing, Crisis Support, Counseling Services, Legal Advocacy, Child and Youth Programs
    Prevention and Intervention Counseling, Information and Referrals, 24 Hour Crisis Line, 
    Outreach Services, and Education.
  </p>
  <a href="#/services"><button class="font dv-lead btn btn-primary text-shadow">All Services are free and confidential!</button></a>
</div>
  
</div>  
  
<div class="dv">
  <h2 class="font text-purple">What is Domestic Violence (DV) ?</h2>
  <h4 class="myFont">Any act that one person uses to dominate another person in an intimate relationship. For example:</h4>
</div>
<div class="section">
  <ul class="dv-list myFont">
    <li><span class="text-purple dv-lead">Intimidation</span> - looks or gestures, property damage, displaying weapons</li>
    <li><span class="text-purple dv-lead">Using Emotional Abuse</span> - put downs, humiliation, degradation</li>
    <li><span class="text-purple dv-lead">Isolation</span> - controlling when or if the partner can go out to see family or friends, extreme jealousy or possessiveness</li>
    <li><span class="text-purple dv-lead">Using Children</span> - threatening to take the children away, relaying messages through the kids, harassing during visitations</li>
    <li><span class="text-purple dv-lead">Minimizing, Denying, and Blaming</span> - saying the abuse never happened, blaming the victim, blaming others for their actions</li>
  </ul>
</div>
<div class="section">
  <ul class="dv-list myFont">
    <li><span class="text-purple dv-lead">Sexual Abuse</span> - unwanted sexual contact, treating the victim like a sex object</li>
    <li><span class="text-purple dv-lead">Rigid Gender Roles</span> - using male privilege, making all big decisions, treating the victim like a servant</li>
    <li><span class="text-purple dv-lead">Economic Abuse</span> - preventing the victim from getting/keeping a job or taking money</li>
    <li><span class="text-purple dv-lead">Coercion and Threats</span> - making or carrying out threats to harm the partner, threatening suicide or to leave, 
      making the victim do illegal things or intimidate them to drop charges or lie in court</li>
    <a href="#/dv"><li class="dv-lead">More Facts and Information About Domestic Violence...</li></a>
  </ul>
</div>
<div class="purple text-white text-shadow dv-section">
  <h2 class="font"><span class="text-orange">You can help</span> build a world free of Domestic Violence!</h2>
  <p class="myFont">
    As a family member, friend, colleague, or acquaintance of a victim of domestic abuse, you may be the only 
    resource a victim has available in order to become free of power and control!
  </p>
  <a href="#/giveHelp"><button class="font btn btn-primary dv-lead text-shadow">Ways to Help</button></a>
  <a href=""><button class="font btn btn-success dv-lead text-shadow">Donate</button></a>
</div>




