<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/resources/pic1.jpg" alt="...">
      <div class="carousel-caption">
        <button class="btn btn-success">What is Domestic Violence?</button>
      </div>
    </div>
    <div class="item">
      <img src="/resources/pic2.jpg" alt="...">
      <div class="carousel-caption">
        Beep Bop Boop
      </div>
    </div>
    <div class="item">
      <img src="/resources/pic3.jpg" alt="...">
      <div class="carousel-caption">
        Beep Bop Boop
      </div>
    </div>
  </div>
</div>

<h1>A Woman's Place envisions a community free of all forms of domestic violence!</h1>

<h2>Do you feel like you're walking on egg shells around your partner?</h2>

<p>
  A Woman's Place Inc. shelters and helps empower victims and survivors 
  of domestic abuse to become safe, secure and self-reliant; and through 
  education and collaboration, mobilizes our community to help prevent 
  domestic violence.
</p>

<h3>Serving victims and survivors of domestic violence in Weld County by providing:</h3>
<p>
  Safe Housing, Crisis Support, Counseling Services, Legal Advocacy, Child and Youth Programs,
  Prevention and Intervention Counseling, Information and Referrals, 24 Hour Crisis Line, 
  Outreach Services and Education.
</p>

<h2>All Services are free and confidential!</h2>
