<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="8000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active text-left">
      <img src="{{ main.image_carousel[0].image }}" class="carousel-img">
      <div class="carousel-caption text-left">
        <h3 class="font">{{ main.image_carousel[0].heading }}</h3>
        <p class="myFont">{{ main.image_carousel[0].paragraph }}</p>
        <a href="#/getHelp"><button class="btn btn-success car-button font text-shadow">Get Help</button></a>
        <a href="#/giveHelp"><button class="btn btn-primary car-button font text-shadow">Give Help</button></a>
      </div>
    </div>
    <div class="item">
      <img src="{{ main.image_carousel[1].image }}" class="carousel-img">
      <div class="carousel-caption text-left">
        <h3 class="font">{{ main.image_carousel[1].heading }}</h3>
        <p class="myFont">{{ main.image_carousel[1].paragraph }}</p>
        <a href="#/events"><button class="btn btn-success car-button font">Upcoming Events</button></a>
      </div>
    </div>
    <div class="item">
      <img src="{{ main.image_carousel[2].image }}" class="carousel-img">
      <div class="carousel-caption text-left">
        <h3 class="font">{{ main.image_carousel[2].heading }}</h3>
        <p class="myFont">{{ main.image_carousel[2].paragraph }}</p>
      </div>
    </div>
  </div>
</div>

<h3 class="font home-head text-shadow">{{ main.awp.home_page_banner }}</h3>

<div class="section-third blue text-shadow text-white" style="height: {{main.ytHeight}}px; padding: 15px;">
  <h3 class="font">Do you feel like you're walking on egg shells around your partner?</h3>
  <p class="myFont">
    A Woman's Place Inc. shelters and helps empower victims and survivors
    of domestic abuse to become safe, secure and self-reliant; and through
    education and collaboration, mobilizes our community to help prevent
   domestic violence.
  </p>
  <a href=""><button class="font dv-lead btn btn-success text-shadow">Get Help</button></a>
</div><div class="section-third yt-embed">
  <iframe width="100%" height="{{ main.ytHeight }}" src="https://www.youtube.com/embed/zG7vRZz04Xc" frameborder="0" allowfullscreen></iframe>
</div><div class="section-third orange" style="height: {{main.ytHeight}}px; padding: 15px;">
  <h3 class="font">Serving victims and survivors of domestic violence in Weld County by providing:</h3>
  <p class="myFont">
    Safe Housing, Crisis Support, Counseling Services, Legal Advocacy, Child and Youth Programs
    Prevention and Intervention Counseling, Information and Referrals, 24 Hour Crisis Line,
    Outreach Services, and Education.
  </p>
  <a href="#/services"><button class="font dv-lead btn btn-primary text-shadow">All Services are free and confidential!</button></a>
</div>
<div class="dv-section">
  <h3 class="font text-purple">You can help build a world free of Domestic Violence!</h3>
  <p class="myFont">
    As a family member, friend, colleague, or acquaintance of a victim of domestic abuse, you may be the only
    resource a victim has available in order to become free of power and control!
  </p>
  <a href="#/giveHelp"><button class="font btn btn-primary dv-lead text-shadow">Ways to Help</button></a>
  <a href="https://www.paypal.com/donate/?token=eQhL4pPDHlZFN0YIzykm7H-gB1vCpCKh7aeDA6226BhEbF3K8LprW8dfxpVQlBu-v-kGU0"><button class="font btn btn-success dv-lead text-shadow">Donate</button></a>
</div>
