<nav class="orange" style="border-radius: 5px 5px 0 0">
  <a href="" class="hamburger-menu nav-link" ng-click="main.activeNav = 6; main.menuActive = !main.menuActive" ng-class="{'nav-active': main.activeNav === 6}">Menu<span class="glyphicon glyphicon-menu-hamburger"></span></a>
  <div ng-if="main.menuActive" ng-mouseleave="main.menuActive = !main.menuActive" sytle="position: absolute;">
    <a href="#/" class="small-nav-link"><div>Home</div></a>
    <a href="#/about" class="small-nav-link"><div>About</div></a>
    <a href="#/getHelp" class="small-nav-link" ng-click="main.getHelpData()"><div>Get Help</div></a>
    <a href="#/dv" class="small-nav-link" ng-click="main.dvData()"><div>Learn More</div></a>
    <a href="#/giveHelp" class="small-nav-link"><div>Get Involved</div></a>
    <a href="#/resources" class="small-nav-link"><div>Resources</div></a>
  </div>
  <ul class="nav-list">
    <a class="nav-link myFont" href="#/" ng-click="main.activeNav = 1" ng-class="{'nav-active': main.activeNav === 1}"><li>Home</li>
    </a><a class="nav-link myFont" href="#/about" ng-click="main.activeNav = 2"  ng-class="{'nav-active': main.activeNav === 2}"><li>About Us</li>
    </a><a class="nav-link myFont" href="#/getHelp" ng-click="main.activeNav = 3; main.getHelpData();"  ng-class="{'nav-active': main.activeNav === 3}"><li>Get Help</li>
    </a><a class="nav-link myFont" href="#/dv" ng-click="main.activeNav = 4; main.dvData()"  ng-class="{'nav-active': main.activeNav === 4}"><li>Learn More</li>
    </a><a class="nav-link myFont" href="#/giveHelp" ng-click="main.activeNav = 5"  ng-class="{'nav-active': main.activeNav === 5}"><li>Get Involved</li>
    </a><a class="nav-link myFont"
        href="#/resources"
        ng-click="main.activeNav = 6"
        ng-class="{'nav-active': main.activeNav === 6}">
        <li>Resources</li></a>
  </ul>
</nav>
