<img src="../resources/back1.jpg" alt="" class="back">
<div class="myFont serve-head text-shadow text-white">
  <h2 class="font text-white text-shadow">A <span class="text-blue">Woman's </span><span class="text-orange">Place</span> Services</h2>
  <p>
   A Woman's Place offers a variety of services designed to protect, assist and empower victims and 
   survivors of domestic abuse, as well as, raise awareness and prevention of domestic violence within 
   the community!
  </p>
</div>
<h4 class="text-purple font">All resources listed here can be accessed by our residential AND non-residential clients.</h4>
<div class="top-services myFont">
  <div class="section">
    <h3 class="font text-purple">Resident Program:</h3> 
    <p>
      A Woman's Place offers safe shelter to victims and their children. Residents follow a 30 day program that 
      focuses on safety and fostering self-reliance.
    </p>
    <h3 class="font text-purple">Legal Advocacy:</h3>
    <p>
      AWP legal advocates provide assistance and support during the civil protection order process, and legal 
      referrals as appropriate.
    </p>                                             
    <h3 class="font text-purple">Case Management:</h3>
    <p>
      AWP staff work with survivors to achieve self-sufficiency by obtaining housing, utilizing social services 
      accessing community agencies, and gaining employment.
    </p>                                                 
    <h3 class="font text-purple">Safety Planning:</h3>
    <p>
      Safety is our number one priority at A Woman's Place. AWP works with all clients to establish a safety plan 
      designed specific to their experience and situation. 
    </p>  
  </div>
  <div class="section">
    <h3 class="font text-purple">Counseling & Support Services</h3>
    <p>
      AWP offers individual and group prevention and intervention counseling and support services for victoms of 
      domestic abuse. Support services consist of DV education, parenting skills, and goals related to self-sufficiency. 
      Counseling services are also available to children ages 5 years and older. These sessions focus on understanding 
      family violence, as well as enhancing safety planning skills, and coping mechanisms.
    </p>                                                
    <h3 class="font text-purple">Child and Youth Programs:</h3> 
    <p>
      These programs run simultaneously with adult programs, and offer counseling and activities to enhance coping skills 
      and address family violence and safety planning.
    </p>                                                  
    <h3 class="font text-purple">Language Services:</h3>
    <p>
      AWP staffs speaking bilingual advocates to work one on with resident and non resident clients. We also have Language 
      line, this service provides access to confidential translation for individuals with limited English language skills 24/7.
    </p>  
  </div>                 
</div>

<div class="font purple text-white home-head">
  <h2 class="text-shadow">Outreach Services</h2>
</div>
<div class="myFont blue">
  <div class="section orange">
   <h3 class="font">Community Education:</h3>
   <p>
     A Woman's Place staff are available for presentations at schools, businesses, agencies, 
     organizations, or other groups. Presentations are available in English and Spanish, and may focus on domestic violence, 
     teen dating abuse, AWP mission and programs, and how the community can get involved and help. 
    </p>
  </div>
  <div class="section blue text-white text-shadow" style="font-size: 150%">
    <h3 class="font">Referrals:</h3>
    <p>
     AWP can assist in providing appropriate referrals within the community.
   </p>
  </div>
</div>
<div class="">
  <h2>To learn more about the services we provide, please contact us at 970-351-0476</h2>
</div>
  