<div class="top-services myFont">
  <h2 class="font text-purple">AWP Services</h2>
  <p>
   A Woman's Place offers a variety of services designed to protect, assist and empower victims and 
   survivors of domestic abuse, as well as, raise awareness and prevention of domestic violence within 
   the community!
  </p>
  <div class="section">
    <h3 class="font">Resident Program:</h3> 
    <p>
      A Woman's Place offers safe shelter to victims and their children. Residents follow a 30 day program that 
      focuses on safety and fostering self-reliance.
    </p>
    <h5>All resources listed below can be accessed by our residential and non residential clients.</h5>                   
    <h3 class="font">Legal Advocacy:</h3>
    <p>
      AWP legal advocates provide assistance and support during the civil protection order process, and legal 
      referrals as appropriate.
    </p>                                             
    <h3 class="font">Case Management:</h3>
    <p>
      AWP staff work with survivors to achieve self-sufficiency by obtaining housing, utilizing social services 
      accessing community agencies, and gaining employment.
    </p>                                                 
    <h3 class="font">Safety Planning:</h3>
    <p>
      Safety is our number one priority at A Woman's Place. AWP works with all clients to establish a safety plan 
      designed specific to their experience and situation. 
    </p>  
  </div>
  <div class="section">
    <h3 class="font">Counseling & Support Services</h3>
    <p>
      AWP offers individual and group prevention and intervention counseling and support services for victoms of 
      domestic abuse. Support services consist of DV education, parenting skills, and goals related to self-sufficiency. 
      Counseling services are also available to children ages 5 years and older. These sessions focus on understanding 
      family violence, as well as enhancing safety planning skills, and coping mechanisms.
    </p>                                                
    <h3 class="font">Child and Youth Programs:</h3> 
    <p>
      These programs run simultaneously with adult programs, and offer counseling and activities to enhance coping skills 
      and address family violence and safety planning.
    </p>                                                  
    <h3 class="font">Language Services:</h3>
    <p>
      AWP staffs speaking bilingual advocates to work one on with resident and non resident clients. We also have Language 
      line, this service provides access to confidential translation for individuals with limited English language skills 24/7.
    </p>  
  </div>                 
</div>

<div class="font purple text-white home-head">
  <h2>Outreach Services</h2>
</div>
<div class="myFont">
  <p>
    <span class="font text-purple dv-lead">Community Education:</span> A Woman's Place staff are available for presentations at schools, businesses, agencies, 
    organizations, or other groups. Presentations are available in English and Spanish, and may focus on domestic violence, 
    teen dating abuse, AWP mission and programs, and how the community can get involved and help. 
  </p>
  <p>
   <span class="font text-purple dv-lead">Referrals:</span> AWP can assist in providing appropriate referrals within the community.
  </p>
  <p>To learn more about the services we provide, please contact us at 970-351-0476</p>
</div>
  