<div class="top-bar"><span class="contact">Business: 970-351-0476 &nbsp;|&nbsp; Email: info@awpdv.org</span>
  <a href="mailto:info@awpdv.org" class="social-link"><span class="glyphicon glyphicon-envelope"></span></a>
  <a href="https://www.facebook.com/AWPWeld/" class="social-link"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
  <a href="https://twitter.com/AWPWeld" class="social-link"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
  <form action="//awpdv.us7.list-manage.com/subscribe/post?u=fdcd68af7757e7396fa645fa1&amp;id=eb867566ad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="newsletter">
      <h5 style="margin: 0 0 2px 0; text-align: center; color: white;">Subscribe to our newsletter</h5>
      <input type="email" value="" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL" style="font-size: 80%; width: 200px;">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fdcd68af7757e7396fa645fa1_eb867566ad" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success" style="padding: 3px; position: relative: bottom: 1px;">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
  </form>
</div>
