<img src="../resources/back1.jpg" alt="" class="back">
<div class="myFont serve-head text-shadow text-white">
  <h3 class="font text-white text-shadow">Want to Make a Difference?</h3>
  <p>
   A Woman's Place offers a variety of services designed to protect, assist and empower victims and
   survivors of domestic abuse, as well as, raise awareness and prevention of domestic violence within
   the community!
  </p>
</div>
<h3 class="home-head">Opportunities Include</h3>
<div class="text-left wishlist" ng-repeat="position in main.volPositions">
  <h3 class="font text-purple">{{ position.name }}</h3>
  <p class="myFont">
    {{ position.description }}
  </p>
</div>
<a href="#/volunteerApp"><button class="btn btn-primary">Apply Online</button></a><br>
