<h1>Volunteer Application</h1>
<form ng-submit="main.nextBtn();" class="vol-app" ng-if="main.formPage === 1">
  <h3>- Personal Information -</h3>
  <div class="inline">
    <h5>First Name</h5>
    <input type="text" placeholder="First" ng-model="main.volData.first">
  </div>
  <div class="inline">
    <h5>Middle Name</h5>
    <input type="text" placeholder="Middle" ng-model="main.volData.middle">
  </div>
  <div class="inline">
    <h5>Last Name</h5>
    <input type="text" placeholder="Last" ng-model="main.volData.last">
  </div>
  <br>
  <div class="inline">
    <h5>Street Address</h5>
    <input type="text" placeholder="Address" ng-model="main.volData.street">
  </div>
  <div class="inline">
    <h5>City</h5>
    <input type="text" placeholder="City" ng-model="main.volData.city">
  </div>
  <div class="inline">
    <h5>State</h5>
    <select ng-model="main.volData.state">
      <option ng-repeat="state in main.formStates" value="{{state}}">{{ state }}</option>
    </select>
  </div>
  <div class="inline">
    <h5>Zip</h5>
    <input type="number" placeholder="Zip Code" ng-model="main.volData.zip" cols="5">
  </div>
  <br>
  <div class="inline">
    <h5>Phone</h5>
    <input type="tel" placeholder="Phone" ng-model="main.volData.phone">
  </div>
  <div class="inline">
    <h5>Other Phone</h5>
    <input type="tel" placeholder="Other Phone" ng-model="main.volData.otherPhone">
  </div>
  <div class="inline">
    <h5>Email</h5>
    <input type="email" placeholder="Email" ng-model="main.volData.email">
  </div>
  <br>
  <div class="inline">
    <h5>Best Way to Contact You</h5>
    <label ng-repeat="method in main.contactMehtods">
      <input type="checkbox" checklist-model="main.volData.contactMethods" checklist-value="method">&nbsp;{{ method }}&nbsp;
    </label>
  </div>
  <div class="inline">
    <h5>Best Time to Contact You</h5>
    <label ng-repeat="time in main.times">
      <input type="checkbox" checklist-model="main.volData.times" checklist-value="time">&nbsp;{{ time }}&nbsp;
    </label>
  </div>
  <br>
  <button type="submit" class="btn btn-success btn-next">Next</button>
</form>
<form ng-submit="main.nextBtn();" class="vol-app" ng-if="main.formPage === 2">
  <h3>- Education -</h3>
  <div class="inline">
    <h5>Highest Level of Education Completed</h5>
    <label for="">
      <input type="radio" ng-model="main.volData.highestE" name="highest-ed" value="High School">&nbsp;High School or equivalent/GED&nbsp;
    </label>
    <label for="">
      <input type="radio" ng-model="main.volData.highestEd" name="highest-ed" value="Some College">&nbsp;Some College&nbsp;
    </label>
    <label for="">
      <input type="radio" ng-model="main.volData.highestEd" name="highest-ed" value="Associates Degree">&nbsp;Associates Degree&nbsp;
    </label>
    <label for="">
      <input type="radio" ng-model="main.volData.highestEd" name="highest-ed" value="Bachelors Degree or Higher">&nbsp;Bachelors Degree or Higher&nbsp;
    </label>
  </div>
  <br>
  <div class="inline">
    <h5>Major/Field of Study</h5>
    <input type="text" ng-model="main.volData.major">
  </div>
  <div class="inline">
    <h5>Date Received/Expected</h5>
    <input type="date" ng-model="main.volData.eduExpected">
  </div>
  <br>
  <div class="inline">
    <h5>Languages Spoken</h5>
    <label ng-repeat="language in main.languages">
      <input type="checkbox" checklist-model="main.volData.languages" checklist-value="language">&nbsp;{{ language }}&nbsp;
    </label>
    <br>
    <input type="text" placeholder="Other..." ng-model="main.other" ng-if="main.volData.language.other">
  </div>
  <br>
  <button class="btn btn-primary btn-next" ng-click="main.prevBtn()" ng-if="main.formPage > 1">Previous</button>
  <button type="submit" class="btn btn-success btn-next">Next</button>
</form>
<form ng-submit="main.nextBtn();" class="vol-app" ng-if="main.formPage === 3">
  <h3>- References -</h3>
  <h4>
    Please list 2 references below. Include phone numbers and what your relationship is
    with each reference (coworker, teacher, etc.). Please do not list family members.
  </h4>
  <div class="inline">
    <h5>Name</h5>
    <input type="text" placeholder="Name" ng-model="main.volData.references[0].name">
  </div>
  <div class="inline">
    <h5>Relationship to You</h5>
    <input type="text" placeholder="Relationship" ng-model="main.volData.references[0].relationship">
  </div>
  <div class="inline">
    <h5>Phone/Contact Information</h5>
    <input type="tel" placeholder="Phone" ng-model="main.volData.references[0].phone">
  </div>
  <br>
  <div class="inline">
    <h5>Name</h5>
    <input type="text" placeholder="Name" ng-model="main.volData.references[1].name">
  </div>
  <div class="inline">
    <h5>Relationship to You</h5>
    <input type="text" placeholder="Relationship" ng-model="main.volData.references[1].relationship">
  </div>
  <div class="inline">
    <h5>Phone/Contact Information</h5>
    <input type="tel" placeholder="Phone" ng-model="main.volData.references[1].phone">
  </div>
  <hr>
  <h3>- Emergency Contact -</h3>
  <div class="inline">
    <h5>Name</h5>
    <input type="text" placeholder="Name" ng-model="main.volData.emc.name">
  </div>
  <div class="inline">
    <h5>Relationship to You</h5>
    <input type="text" placeholder="Relationship to You" ng-model="main.volData.emc.relationship">
  </div>
  <br>
  <div class="inline">
    <h5>Street Address</h5>
    <input type="text" placeholder="Address" ng-model="main.volData.emc.street">
  </div>
  <div class="inline">
    <input type="text" placeholder="City" ng-model="main.volData.emc.city">
  </div>
  <div class="inline">
    <h5>State</h5>
    <select ng-model="main.volData.emc.state">
      <option ng-repeat="state in main.formStates" value="{{state}}">{{ state }}</option>
    </select>
  </div>
  <div class="inline">
    <h5>Zip</h5>
    <input type="number" placeholder="Zip Code" ng-model="main.volData.emc.zip">
  </div>
  <br>
  <div class="inline">
    <h5>Phone</h5>
    <input type="tel" placeholder="Phone" ng-model="main.volData.emc.phone">
  </div>
  <br>
  <button class="btn btn-primary btn-next" ng-click="main.prevBtn()" ng-if="main.formPage > 1">Previous</button>
  <button type="submit" class="btn btn-success btn-next" ng-click="main.saveRefs()">Next</button>
</form>
<form ng-submit="main.nextBtn();" class="vol-app" ng-if="main.formPage === 4">
  <h3>- Work and Volunteer Experience -</h3>
  <h4>Work Experience</h4>
  <h5>Please list your work experience below</h5>
  <textarea class="description" ng-model="main.volData.workExp"></textarea>
  <h4>Volunteer Experience</h4>
  <h5>Please list your volunteer experience below</h5>
  <textarea class="description" ng-model="main.volData.volExp"></textarea>
  <br>
  <button class="btn btn-primary btn-next" ng-click="main.prevBtn()" ng-if="main.formPage > 1">Previous</button>
  <button type="submit" class="btn btn-success btn-next">Next</button>
</form>
<form ng-submit="main.nextBtn();" class="vol-app" ng-if="main.formPage === 5">
  <h3>- More Info -</h3>
  <h5>Why are you interested in volunteering at A Woman's Place?</h5>
  <textarea class="description" ng-model="main.volData.why"></textarea>
  <h5>What do you like (or anticipate liking) the most about volunteering? What do you like least?</h5>
  <textarea class="description" ng-model="main.volData.like"></textarea>
  <h5>How did you hear about volunteer opportunities at A Woman’s Place?</h5>
  <input type="text" ng-model="main.volData.how">
  <br>
  <button class="btn btn-primary btn-next" ng-click="main.prevBtn()" ng-if="main.formPage > 1">Previous</button>
  <button type="submit" class="btn btn-success btn-next">Next</button>
</form>
<form ng-submit="main.nextBtn();" class="vol-app" ng-if="main.formPage === 6">
  <h3>- Schedule -</h3>
  <div class="inline">
    <h5>Desired length of commitment (ex. 6 months, 1 year, ongoing, etc.)</h5>
    <input type="text" ng-model="main.volData.length">
  </div>
  <div class="inline">
    <h5>Desired time commitment per week:</h5>
    <input type="text" ng-model="main.volData.hours">&nbsp;Hours
  </div>
  <div>
    <h5>Please select the days you are available to help us:</h5>
    <label ng-repeat="day in main.days"><input type="checkbox" checklist-model="main.volData.days" checklist-value="day">&nbsp;{{ day }}&nbsp;</label>
  </div>
  <div>
    <h5>Time of day that works best for you:</h5>
    <h6>(We would like volunteers in the house from 7am until 10pm)</h6>
    <label ng-repeat="time in main.times">
      <input type="checkbox" checklist-model="main.volData.volTimes" checklist-value="time">&nbsp;{{ time }}&nbsp;
    </label>
  </div>
  <button class="btn btn-primary btn-next" ng-click="main.prevBtn()" ng-if="main.formPage > 1">Previous</button>
  <button type="submit" class="btn btn-success btn-next">Next</button>
</form>
<form ng-submit="main.nextBtn();" class="vol-app" ng-if="main.formPage === 7">
  <h3>- Additional Questions -</h3>
  <div>
    <h5>Have you ever been convicted of or charged with a crime?</h5>
      <label><input type="radio" ng-model="main.volData.crime" value="Yes">&nbsp;Yes&nbsp;</label>
      <label><input type="radio" ng-model="main.volData.crime" value="No">&nbsp;No&nbsp;</label>
  </div>
  <div ng-if="main.volData.crime == 'Yes'">
    <h5>If yes, please explain:</h5>
    <textarea class="description" rows="8" cols="40" ng-model="main.volData.explain"></textarea>
  </div>
  <div class="">
    <h5>
      A Woman’s Place volunteers/interns/staff are asked to do light housekeeping in order to
      maintain a clean and welcoming environment. We ask that volunteers and interns please
      inform us of any work-related restrictions so that we do not assign a task that would be
      difficult or possibly harmful to the individual. Restrictions do not have any effect on
      acquiring a placement at A Woman’s Place.  Please use the space below to identify any
      possible restrictions.
    </h5>
    <textarea class="description" rows="8" cols="40" ng-model="main.volData.restrictions"></textarea>
  </div>
  <div class="">
    <h5>
      Thank you for your interest in volunteer opportunities with A Woman’s Place! Volunteers
      are crucial to help us fulfill our mission, and to provide support and resources to victims
      and survivors of domestic violence. If there is any other information you would like to
      share, please do so in the space below. If you have any questions or concerns, feel free to
      contact A Woman’s Place at 970-351-0476.
    </h5>
    <textarea class="description" rows="8" cols="40" ng-model="main.volData.questions"></textarea>
  </div>
  <button class="btn btn-primary btn-next" ng-click="main.prevBtn()" ng-if="main.formPage > 1">Previous</button>
  <button type="submit" class="btn btn-success btn-next">Review Application</button>
</form>
<div ng-if="main.formPage === 8">
    <h3>Review Application</h3>
    <div>
      <h4>Your Info</h4>
      <div class="inline top-align">
        <h5>Name</h5>
        <label>{{ main.volData.first }} {{ main.volData.middle }} {{ main.volData.last }}</label>
      </div>
      <div class="inline top-align">
        <h5>Address</h5>
        <label>
          {{ main.volData.street }}, {{ main.volData.city }}, {{ main.volData.state }} {{ main.volData.zip }}
        </label>
      </div>
      <div class="inline top-align">
        <h5>Phone</h5>
        <label>
          {{ main.volData.phone }}<br>
          {{ main.volData.othPhone }}
        </label>
      </div>
      <div class="inline top-align">
        <h5>Email</h5>
        <label>
          {{ main.volData.email }}
        </label>
      </div>
  </div>
  <div>
    <div class="inline">
      <h5>Contact Method(s)</h5>
      <label>{{ main.volData.contactMethods[0] }} {{ main.volData.contactMethods[1] }}</label>
    </div>
    <div class="inline">
      <h5>Contact Times</h5>
      <label>{{ main.volData.times[0] }} {{ main.volData.times[1] }} {{ main.volData.times[2] }}</label>
    </div>
  </div>
  <hr>
    <div class="top-align inline">
      <h4>Education</h4>
      <div class="top-align">
        <div class="inline">
          <h5>Highest Education</h5>
          <label>{{ main.volData.highestEd }}</label>
        </div>
        <div class="inline">
          <h5>Major</h5>
          <label>{{ main.volData.major }}</label>
        </div>
        <div class="inline">
          <h5>Date received and/or expected</h5>
          <label>{{ main.volData.eduExpected }}</label>
        </div>
        <div class="inline">
          <h5>Languages Spoken:</h5>
          <label ng-repeat="language in main.volData.languages">
            &nbsp;{{ language }}&nbsp;
          </label>
        </div>
      </div>
    </div>
<hr>
  <div>
    <h4>References</h4>
    <div ng-repeat="reference in main.volData.references">
      <div class="inline top-align">
        <h5>Name:</h5>
        <label>{{ reference.name }}</label>
      </div>
      <div class="inline top-align">
        <h5>Relationship</h5>
        <label>{{ reference.relationship }}</label>
      </div>
      <div class="inline top-align">
        <h5>Phone</h5>
        <label>{{ reference.phone }}</label>
      </div>
    </div>
  </div>
  <hr>
  <div class="top-align">
    <h4>Emergency Contact</h4>
    <div class="inline top-align">
      <h5>Name:</h5>
      <label>{{ main.volData.emc.name }}</label>
    </div>
    <div class="inline top-align">
      <h5>Relationship</h5>
      <label>{{ main.volData.emc.relationship }}</label>
    </div>
    <div class="inline top-align">
      <h5>Phone</h5>
      <label>{{ main.volData.emc.phone }}</label>
    </div>
    <div class="inline top-align">
      <h5>Address</h5>
      <label>
        {{ main.volData.emc.street }}, {{ main.volData.emc.city }}, {{ main.volData.emc.state }} {{ main.volData.emc.zip }}
      </label>
    </div>
  </div>
  <hr>
  <div class="top-align">
    <h4>Experience</h4>
    <div class="inline">
      <h5>Work Experience</h5>
      <label>{{ main.volData.workExp }}</label>
    </div>
    <div class="inline">
      <h5>Volunteer Experience</h5>
      <label>{{ main.volData.volExp}}</label>
    </div>
  </div>
  <hr>
  <div class="top-align">
    <h4>Availability</h4>
    <div class="inline">
      <h5>Desired length of commitment</h5>
      <label>{{ main.volData.length }}</label>
    </div>
    <div class="inline">
      <h5>Desired time commitment</h5>
      <label>{{ main.volData.hours }} hours per week</label>
    </div>
    <div class="inline">
      <h5>Days available to help</h5>
      <label ng-repeat="day in main.volData.days">{{ day }}&nbsp;</label>
    </div>
    <div class="inline">
      <h5>Time available to help</h5>
      <label ng-repeat="time in main.volData.volTimes">{{ time }}&nbsp;</label>
    </div>
  </div>
  <hr>
  <div class="top-align">
    <h4>More Info</h4>
    <div class="inline">
      <h5>Why are you interested in volunteering at A Woman's Place?</h5>
      <label>{{ main.volData.why }}</label>
    </div>
    <div>
      <h5>What do you like (or anticipate liking) the most about volunteering? What do you like least?</h5>
      <label>{{ main.volData.like }}</label>
    </div>
    <div>
      <h5>How did you hear about volunteer opportunities at A Woman’s Place?</h5>
      <label>{{ main.volData.how }}</label>
    </div>
    <div>
      <h5>Have you ever been convicted of or charged with a crime?</h5>
      <label>{{ main.volData.crime }}</label>
      <br>
      <label>{{ main.volData.explain }}</label>
    </div>
    <div>
      <h5>Restrictions</h5>
      <label>{{ main.volData.restrictions }}</label>
    </div>
    <div>
      <h5>Questions/Concerns</h5>
      <label>{{ main.volData.questions }}</label>
    </div>
  </div>
  <button class="btn btn-primary btn-next" ng-click="main.prevBtn()" ng-if="main.formPage > 1">Previous</button>
  <button ng-click="main.submitVolApp()" class="btn btn-success btn-next">Submit Application</button>
</div>
