<h3 class="font home-head">Donate Funds</h3>
<div class="top-services myFont">
  <div class="section donate-section">
    <a href="https://www.paypal.com/donate/?token=azeMkAC07J58mM0VmTlxra0QFPj7jrAmj5kqCT0eHJc1OigCdFpy_kEADZKJD9L-7I16zG" ><button class="btn btn-primary">PayPal Donation</button></a>
    <a href="https://www.coloradogives.org/index.php?section=organizations&action=newDonation&fwID=28135"><button class="btn btn-primary">Colorado Gives</button></a>
    <a href="https://smile.amazon.com/gp/chpf/homepage/ref=smi_se_ssr_srch_stsr?q=A+Woman%27s+Place+Inc%2C+Greeley+CO&orig=%2F" ><button class="btn btn-primary">Amazon Smile</button></a>
  </div>
</div>
<h3 class="font home-head">What We Need</h3>
<div class="top-services myFont">
  <div class="section">
    <div ng-repeat="item in main.leftWishlist">
      <h3 class="font text-purple">{{ item.name }}</h3>
      <p>
        {{ item.description }}
      </p>
    </div>
  </div>
  <div class="section pull-right">
    <div ng-repeat="item in main.rightWishlist">
      <h3 class="font text-purple">{{ item.name }}</h3>
      <p>
        {{ item.description }}
      </p>
    </div>
  </div>
</div>
